body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 50px;
    background-color: #00aff2;
    color: white;
    overflow-x: hidden;
    font-size: 18px
}
.spacer {
    height: var(--space, 5px); /* Ajuste la hauteur selon tes besoins */
}

/* Acceuil */
.section {
    background-color: white;
    display: flex;
    align-items: center;
    min-height: 300px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    margin-bottom: 40px; 
    transition: all 1.2s;
    overflow: hidden; 
    transform-origin: center;
    color: black;
    text-decoration: none;
}


.section:hover{
    scale: 1.05;
    transition: all .5s;
}

.section:nth-child(even) {
    flex-direction: row-reverse;
}

.text {
    flex: 1;
    padding: 20px;
}

.image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image img {
    max-width: 375px;
    height: auto;
    border-radius: 10px;
}

/* Hors acceuil */

.title{
    font-size: 40px;
}

.image-container {
    display: flex;
    justify-content: center; /* Centre les images horizontalement */
    gap: 20px; /* Espacement entre les images */
    margin-bottom: 20px; /* Espace sous les images */
}

.img {
    width: 100%; 
    max-width: var(--img-width, 400px); /* Valeur par défaut 400px */
    height: var(--img-height, auto);
    border-radius: 10px;
    margin-bottom: 40px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    transition: all .5s;
}

.img:hover {
    scale: 1.05;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.8);
    transition: all .5s;
}

.links {
    display: block;
    text-align: center;
    margin-top: 15px; /* Espace entre les liens */
    color: rgb(99, 95, 199);
    text-decoration: none;
    font-size: 20px;
}