*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar {
    background-color: #00aff2;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    }

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
    padding: 0 25px ;
}

#navbar__logo img {
    height: 80px;
    width: auto;
}


#navbar__logo {
    text-decoration: none;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;

}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    transition:  0.5s ease-out;
}
.navbar__links:hover {
    color: white;
    transition: all .5s ease-in-out;
    transform: translateY(-5px) scale(1.2);
    text-shadow: 
         1px 1px 0 black;
}